.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;

  .nav_links {
    margin-right: 50px;
  }

  .nav_link {
    color: white;
    padding: 20px;
    font-size: 18px;

    &.active {
      color: $primary-color;
      font-weight: bold;
    }
  }

  .nav_logo {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 50px;

    h1 {
      color: white;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
